.houseTypeDetail{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    overflow: auto;
}
.mint-header{
    border-bottom: 1px solid #EAEBED;
    color: #000;
    background-color: #fff;
}
h1 {
    margin: .67em 0;
}
label{
    font-weight: 100;
    font-size: .12rem;
}
.mintui{
    font-size: .14rem;
}
img {
    width: 100%;
}