.newOpening{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}
.mint-header{
    border-bottom: 1px solid #EAEBED;
    color: #000;
    background-color: #fff;
}
h1 {
    margin: .67em 0;
}
label{
    font-weight: 100;
    font-size: .12rem;
}
.mintui{
    font-size: .14rem;
}
.footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    background: white;
    line-height: 0.5rem;
    /* border-top: 1px solid #f7f7f7; */
    display: flex!important;
    padding-top: .1rem;
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.03);
  }
.content{
    padding: 0.2rem;
}

.content .content-item{
    padding-left: .2rem;
    border-left: 1px solid #F4F4F5;
    padding-bottom: .1rem;
    font-family: PingFangSC-Regular;
}

.content .content-item .content-item-title{
    font-size: .15rem;
    color: #333333;
    line-height: .32rem;
    line-height: .16rem;
    position: relative;
}

.content .content-item .content-item-title::before{
    content: '';
    width: .08rem;
    height: .08rem;
    display: block;
    position: absolute;
    background: #C6CAD3;
    left: -.24rem;
    border-radius: 50%;
    top: .02rem;
}

.content .content-item .content-item-detail{
    font-size: .14rem;
    color: #989CA8;
    text-align: justify;
    line-height: .3rem;
}